.board {
  background: darkcyan;
}

.card {
  width: 100px;
  height: 120px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 2px -2px 9px -1px black;
  padding: 2px;
}

.card:not(:first-child) {
  margin-left: -5rem;
}

.card-container {
  display: flex;
  flex-wrap: row wrap;
}

.title {
  margin: auto;
}
.modal-title {
  display: flex;
  justify-content: space-between;
}

.diamonds,
.hearts {
  color: red;
}

.clubs,
.spades {
  color: black;
}

.top {
  top: 2px;
  left: 2px;
}

.bigsuit {
  font-size: 30px;
}

.bigsuit-center {
  text-align: center;
}

.bigsuit-left {
  text-align: left;
}
.bottom {
  right: 2px;
  text-align: right;
}
